@page
@model Tsade.Barcode.RazorWeb.Pages.BarcodeRequestModel
@{
    ViewData["Title"] = "Barcode Request";
}

<h1>Barcode Request</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="BarcodeRequest.BarcodeText" class="control-label"></label>
        <input asp-for="BarcodeRequest.BarcodeText" class="form-control" />
        <span asp-validation-for="BarcodeRequest.BarcodeText" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BarcodeRequest.CompanyName" class="control-label"></label>
        <input asp-for="BarcodeRequest.CompanyName" class="form-control" />
        <span asp-validation-for="BarcodeRequest.CompanyName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BarcodeRequest.ProductName" class="control-label"></label>
        <input asp-for="BarcodeRequest.ProductName" class="form-control" />
        <span asp-validation-for="BarcodeRequest.ProductName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BarcodeRequest.Price" class="control-label"></label>
        <input asp-for="BarcodeRequest.Price" class="form-control" />
        <span asp-validation-for="BarcodeRequest.Price" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}